#root {
    --vav-default-color: #AAAAAA;
    --nav-selected-color: #2990FF;

    .MuiBox-root {
        border-top: 1px solid #404040;
        padding-top: 1px;
    }

    .MuiBottomNavigation-root {
        background: transparent;

        .MuiButtonBase-root {
            color: var(--vav-default-color);

            svg {
                path {
                    stroke: var(--vav-default-color);
                }
            }

            &.Mui-selected {
                color: var(--nav-selected-color);

                svg {
                    path {
                        stroke: var(--nav-selected-color);
                    }
                }
            }
        }
    }
}
